.center {
  display: flex;
  justify-content: center;
}

.url-form {
  width:  70%;
  padding: var(--spacing-small);
}

.submit-button {
  width: 30%;
  display:inline-block;
}

.form {
  padding: var(--spacing-large);
  border-radius: .5rem;
  width: 700px;
}
