.hot-dog {
  color: rgba(240,252,5,255);
  background-color: rgba(59,180,75,255);
}

.not-hot-dog {
  color: rgba(240,252,5,255);
  background-color: rgba(236,31,41,255);
}

.submit-response {
  font-size: 4em;
  -webkit-text-stroke: 2.5px black;
  padding-top: 50px;
  margin-top: -80px;
}
