.links {
  display: flex;
  justify-content: flex-end;
}

.sign-out {
  text-decoration: underline;
  opacity: 1;
  transition: opacity .15s ease-in;
}

.sign-out:hover,
.sign-out:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}
