.center {
  display: flex;
  justify-content: center;
}

.photo-div {
  margin-top: 2em;
}

.photo {
  width: 500px;
  height: auto;
}

@media (max-width: 501px) {
  .photo {
    width: 100%;
    height: auto;
  }
}
